* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#container {
  background-color: #D8C590;
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: #D8C590;
  image-rendering: pixelated;
}
